@media screen and (max-width: 375px) {
  .body {
    width: 100%;
  }

  .header {
    margin: 5px 21px 0 0;
  }

  .logo__img {
    max-width: 138px;
    max-height: 42px;
  }

  .buttons-header {
    width: auto;
    padding-right: 0;
  }

  .nav,
  .buttons-header__link {
    display: none;
    text-align: center;
  }

  .buttons-header__img {
    width: 23px;
    height: 16px;
  }

  .main-section__title {
    display: block;
    font: 600 50px/61px "Montserrat", Arial, Helvetica, sans-serif;
    margin: 26px 0 -4px 0;
  }

  .main-section__post-title {
    font: 10px/15px "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0 0 28px 0;
  }

  .main-section {
    max-width: 767px;
    background-image: url("img/Tesla-Wordmark-Red-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 27%;
  }

  .main-section__img {
    max-width: 357px;
    margin-top: 20px;
    margin-right: 0;
   }

   .main-section__list {
    margin: 0;
    width: 100%;
    display: block;
    margin-top: 18px;
    max-width: 305px;
  }

  .list-character {
    margin-left: 0;
  }

  .list-character__item {
    margin-top: 8px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .item-text__item-right {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }

  .img-speed {
    width: 44px;
    height: 36px;
    object-fit: cover;
    margin: 7px 9px 0 0;
  }

  .img-road {
    margin-right: 13px;
    margin-top: 3px;
    width: 25px;
    height: 41px;
    object-fit: cover;
  }
  
  .item-text__item-top {
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
  }

  .item-text__item-but {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
  }
  
  .item-text__item-but {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .main-section__buttons {
    margin-top: 40px;
    justify-content: space-between;
  }

  .test-drive {
    margin-left: 0px;
  }

  .test-drive__wheel {
    background-image: url('img/steering-wheel-red-mob.svg');
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
  }

  .test-drive__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #e51937;
    margin-left: 7px;
  }

  .link-order {
    margin-left: 21px;
  }

  .link-order-red {
    padding: 8px 30px;
    font-size: 13px;
    margin-left: 0px;

  }

  .arrow-img {
    margin-top: 30px;
  }

  .section-about {
    height: auto;
    overflow-y: hidden;
  }

  .section-about__title {
    display: none;
  }

  .section-about__img {
    height: auto;
    width: 117%;
  }

  .section-about__header {
    position: relative;
    display: inline-block;
    margin-top: 0px;
  }

  .sidebar {
    background: #E51937;
    max-width: 375px;
    position: static;
    height: auto;
  }

  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px 26px 43px;
  }
  
  .head__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 316px;
    margin-left: 0px;
  }

  .sidebar__list {
    display: none;
  }

  .sidebar-buttons {
    display: none;
  }

  .section-safe {
    background-size: 90%;
    background-position: 5% 9%;
  }

  .sidebar_safe {
    background: #E51937;
    max-width: 375px;
    position: static;
    height: auto;
  }

  .head__topic {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0px 0px 9px 0px;
  }

  .sidebar__protection-mark {
    display: none;
  }

  .protection-container {
    display: none;
  }

  .sidebar__wrap {
    display: none;
  }

  .section-safe__img {
    padding-top: 55px;
    padding-bottom: 29px;
  }

  .sidebar-button {
    display: none;
  }
}