.body {
  margin: 0 auto;
}

.header {
  display: flex;
  margin: 23px auto 5px;
  max-width: 1356px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 489px;
  justify-content: space-between;
  margin-left: 37px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font: 600 15px/18px "Montserrat", Arial, Helvetica, sans-serif;
  color: #000;
  position: relative;
}

.nav__link:after,
.buttons-header__link:after {
  position: absolute;
  height: 2px;
  background: #e51937;
  display: block;
  content: "";
  left:0;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.nav__link:hover:after,
.nav__link:focus:after,
.buttons-header__link:hover:after,
.buttons-header__link:focus:after {
  width: 100%;
}

.nav__link_active {
  color: #e51937;
}

.buttons-header {
  display: flex;
  align-items: center;
  width: 203px;
  justify-content: space-between;
  padding-right: 18px;
}

.buttons-header__link {
  text-decoration: none;
  font: 600 15px/18px "Montserrat", Arial, Helvetica, sans-serif;
  color: #000;
  display: inline-block;
  position: relative;
}

.main {
  display: block;
}

.main-section {
  display: flex;
  max-width: 1340px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-image: url("img/Tesla-Wordmark-Red.svg");
  background-repeat: no-repeat;
  background-position: 50% 16%;
}

.main-section__title {
  display: block;
  font: 600 90px/95px "Montserrat", Arial, Helvetica, sans-serif;
  margin: 58px 0 -4px 0;
}

.main-section__post-title {
  font: 15px/18px "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0 0 28px 0;
}

.main-section__img {
  margin-right: 75px;
  background-image: url("main-section__img");
  background-repeat: no-repeat;
  background-position: 50% 16%;
}

.main-section__list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 20px 0 27px 0;
}

.list-character {
  display: flex;
  width: 100%;
  max-width: 375px;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.list-character__item {
  display: flex;
  align-items: center;
}

.img-speed {
  margin: 9px 10px 0 0px;
}

.img-road {
  margin-right: 5px;
  margin-top: 13px;
}

.item-text__item-top {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.item-text__item-right {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.item-text__item-but {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.main-section__buttons {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font: bold 13px/16px "Montserrat", Arial, Helvetica, sans-serif;
}

.test-drive {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.test-drive__wheel {
  background-image: url('img/steering-wheel.svg');
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
}

.test-drive__text {
  color: #000;
  margin-left: 5px;
}

.link-order-red {
  display: inline-block;
  text-decoration: none;
  padding: 11px 41px;
  border: 2px solid #e51937;
  color: #e51937;
  margin-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.arrow-link {
  margin-bottom: 30px;
}

.section-about {
  display: flex;
  position: relative;
}

.section-about__header {
  position: relative;
  display: inline-block;
  margin-top: 57px;
}

.section-about__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  color: #E51937;
  position: absolute;
  left: 80px;
  margin: 0;
  margin-top: 8px;
}

.section-about__img {
  height: 100%;
}

.sidebar {
  background: #E51937;
  max-width: 440px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head__topic {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  margin: 51px 72px 11px 52px;
}

.head__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  max-width: 316px;
  margin-left: 52px;
}

.sidebar__list {
  margin-top: 60px;
  margin-bottom: 169px;
}

.list-characters {
  max-width: 255px;
  height: 270px;
  list-style-type: none;
  justify-content: space-between;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  margin-left: 52px;
  padding: 0;
}

.list-characters__item {
  display: flex;
  margin-top: 32px;
}

.wrap__top-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 35px;
  line-height: 43px;
}

.wrap__but-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.wrap__right-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.wrap__wifi-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #FFFFFF;
}

.img-screen {
  padding-right: 19px;
  padding-top: 14px;
}

.img-wifi {
  padding-right: 20px;
}

.img-bag {
  padding-right: 24px;
}

.learn-more {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.learn-more__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 7px;
}

.link-order_white {
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 11px 39px;
  margin-left: 33px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-safe {
  display: flex;
  position: relative;
  background-image: url("img/Model S mark.png");
  background-repeat: no-repeat;
  background-position: 100% 18%;
  height: 900px;
}

.sidebar_safe {
  background: #E51937;
  max-width: 440px;
  position: absolute;
  left: 0;
  top: 0;
  height: 900px;
}

.sidebar__protection-mark {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  margin-top: 54px;
  margin-left: 56px;
}

.protection-container {
/*   width: 291px;
  height: 172px; */
}

.protection-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-left: 56px;
  width: 292px;
}

.item-left {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 17px;
  display: inline-block;
}

.item-leftsm {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.7;
}

.star {
  float: right;
  margin-left: 4px;
}

.security__text-top {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
  margin-left: 19px;
}

.security__text-but {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 15px;
  color: #FFFFFF;
  margin-left: 19px;
}

.sidebar__wrap {
  width: 280px;
  display: inline-block;
  margin-left: 66px;
  margin-top: 84px;
}

.security {
  display: inline-block;
}

.sidebar-buttons {
  margin-top: 60px;
  margin-left: 38px;
  display: flex;
  align-items: center;
}


.section-safe__img {
  position: absolute;
  top: 168px;
  left: 345px;
}

@media (min-width: 768px) and (max-width: 1439px) {

  .header {
  margin: 24px 0 10px 15px;
  max-width: 94%;
  }

  .buttons-header {
    width: auto;
    padding-right: 0;
  }

  .nav,
  .buttons-header__link {
    display: none;
    text-align: center;
  }
  
  .buttons-header__burger: {
    display: block;
  }

  .buttons-header__img {
    width: 35px;
    height: 22px;
  }

  .main-section__title {
    margin: 75px 0 -4px 0;
  }

  .main-section__post-title {
    margin: 0;
  }

  .main-section {
    max-width: 720px;
    background-image: url("img/Tesla-Wordmark-Red.svg");
    background-repeat: no-repeat;
    background-position: 30% 25%;
    background-size: 116%;
  }

  .main-section__img {
   max-width: 700px;
   margin-top: 90px;
   margin-right: 0;
  }

  .main-section__list {
    margin: 0;
    width: 487px;
    display: block;
    margin-top: 26px;
  }

  .list-character {
    list-style-type: none;
    justify-content: space-between;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    max-width: 100%;
  }

  .list-character__item {
    margin-right: 18px;
  }

  .img-speed {
    width: 65px;
    height: 61px;
    object-fit: cover;
    margin: 19px 20px 0 0;
  }

  .img-road {
    margin: 20px 16px 0 0;
    width: 45px;
    height: 80px;
    object-fit: cover;
  }
  
  .item-text__item-top {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
  }
  
  .item-text__item-but {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .main-section__buttons {
    margin-top: 50px;
  }

  .test-drive {
    margin-left: 33px;
  }
  
  .test-drive__wheel {
    background-image: url('img/steering-wheel-red.svg');
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
  }
  .test-drive__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #e51937;
    margin-left: 16px;
  }

  .link-order_white {
    padding: 16px 61px;
    margin-left: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background-color:  #e51937;
    color: white;
  }

  .arrow-img {
    margin-top: 60px;
    /* margin-bottom: 93px; */
  }


  .section-about {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }

  .section-about__header {
    position: relative;
    display: inline-block;
    margin-top: 57px;
  }
  
  .section-about__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #E51937;
    position: absolute;
    left: 434px;
    margin: 0;
    margin-top: 8px;
  }
  
  .sidebar {
    background: #E51937;
    max-width: 768px;
  }
  
  .head {
    display: inline-block;
  }
  
  .head__topic {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0 49px 26px 34px;
  }
  
  .head__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 316px;
    margin-left: 35px;
  }
  
  .sidebar__list {
    margin-top: 60px;
    display: inline-block;
  }
  
  .list-characters {
    max-width: 255px;
    height: 270px;
    list-style-type: none;
    justify-content: space-between;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    margin-left: 52px;
    padding: 0;
  }
  
  .list-characters__item {
    display: flex;
    margin-top: 32px;
  }
  
  .wrap__top-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 35px;
    line-height: 43px;
  }
  
  .wrap__but-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
  }
  
  .wrap__right-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  
  .wrap__wifi-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
  }
  
  .img-screen {
    padding-right: 19px;
    padding-top: 14px;
  }
  
  .img-wifi {
    padding-right: 20px;
  }
  
  .img-bag {
    padding-right: 24px;
  }
  
  .learn-more {
    text-decoration: none;
  }
  
  .learn-more__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .link-order_white {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 8px 47px;
    margin-left: 32px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {

  .header {
    margin: 5px 21px 0 0;
  }

  .logo__img {
    max-width: 138px;
    max-height: 42px;
  }

  .buttons-header {
    width: auto;
    padding-right: 0;
  }

  .nav,
  .buttons-header__link {
    display: none;
    text-align: center;
  }

  .main-section__title {
    display: block;
    font: 600 50px/61px "Montserrat", Arial, Helvetica, sans-serif;
    margin: 26px 0 -4px 0;
  }

  .main-section__post-title {
    font: 10px/15px "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0 0 28px 0;
  }

  .main-section {
    max-width: 767px;
    background-image: url("img/Tesla-Wordmark-Red-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 27%;
  }

  .main-section__img {
    max-width: 357px;
    margin-top: 20px;
    margin-right: 0;
   }

   .main-section__list {
    margin: 0;
    width: 81%;
    display: block;
    margin-top: 18px;
    max-width: 305px;
  }

  .list-character {
    margin-left: 0;
  }

  .list-character__item {
    margin-top: 8px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .item-text__item-right {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }

  .img-speed {
    width: 44px;
    height: 36px;
    object-fit: cover;
    margin: 7px 9px 0 0;
  }

  .img-road {
    margin-right: 13px;
    margin-top: 3px;
    width: 25px;
    height: 41px;
    object-fit: cover;
  }
  
  .item-text__item-top {
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
  }

  .item-text__item-but {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
  }
  
  .item-text__item-but {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  .main-section__buttons {
    margin-top: 40px;
  }

  .test-drive__wheel {
    background-image: url('img/steering-wheel-red-mob.svg');
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
  }

  .test-drive__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #e51937;
    margin-left: 7px;
  }

  .link-order {
    margin-left: 21px;
  }

  .arrow-img {
    margin-top: 30px;
  }
}


