.body {
  margin: 0 auto;
}

.header {
  display: flex;
  margin: 23px auto 5px;
  max-width: 1356px;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 489px;
  justify-content: space-between;
  margin-left: 37px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font: 600 15px/18px "Montserrat", Arial, Helvetica, sans-serif;
  color: #000;
  position: relative;
}

.nav__link:after,
.buttons-header__link:after {
  position: absolute;
  height: 2px;
  background: #e51937;
  display: block;
  content: "";
  left:0;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.nav__link:hover:after,
.nav__link:focus:after,
.buttons-header__link:hover:after,
.buttons-header__link:focus:after {
  width: 100%;
}

.nav__link_active {
  color: #e51937;
}

.buttons-header {
  display: flex;
  align-items: center;
  width: 203px;
  justify-content: space-between;
  padding-right: 18px;
}

.buttons-header__link {
  text-decoration: none;
  font: 600 15px/18px "Montserrat", Arial, Helvetica, sans-serif;
  color: #000;
  display: inline-block;
  position: relative;
}

.main {
  display: block;
}

.main-section {
  display: flex;
  max-width: 1340px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-image: url("img/Tesla-Wordmark-Red.svg");
  background-repeat: no-repeat;
  background-position: 50% 16%;
}

.main-section__title {
  display: block;
  font: 600 90px/95px "Montserrat", Arial, Helvetica, sans-serif;
  margin: 58px 0 -4px 0;
}

.main-section__post-title {
  font: 15px/18px "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0 0 28px 0;
}

.main-section__img {
  margin-right: 75px;
}

.main-section__list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 27px 0 33px 0;
}

.list-character {
  display: flex;
  width: 100%;
  max-width: 375px;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.list-character__item {
  display: flex;
  align-items: center;
}

.img-speed {
  margin: 9px 10px 0 0px;

}

.item-text {

}

.img-road {
  margin-right: 11px;

}

.item-text__item-top {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;

}

.item-text__item-right {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

}

.item-text__item-but {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}



.main-section__buttons {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font: bold 13px/16px "Montserrat", Arial, Helvetica, sans-serif;
}

.test-drive {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.test-drive__wheel {

}

.test-drive__text {
  color: #000;
  margin-left: 5px;
}

.link-order {
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  border: 2px solid #e51937;
  color: #e51937;
  margin-left: 40px;
}

@media (min-width: 768px) and (max-width: 1439px) {

  .header {
  display: flex;
  margin: 23px auto 5px;
  max-width: 720px;
  justify-content: space-between;
}

  .buttons-header {
    width: auto;
    padding-right: 0;
  }

  .nav,
  .buttons-header__link {
    display: none;
    text-align: center;

  }
  
  .buttons-header__burger: {
    display: block;
  }

  .main-section {
    max-width: 720px;
    background-image: url("img/Tesla-Wordmark-Red.svg");
    background-repeat: no-repeat;
    background-position: 50% 16%;
    background-size: 86%;
  }
}